<!DOCTYPE html>
<html lang="en">

<head>


    <title>Document</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif:wght@700&family=Pacifico&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="userpage.css">
<style>*{
    font-family: 'Merriweather', serif;

}
/* .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(223, 198, 197, 0.562);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  } */
  
body{
    
    background-image: url("uns.jpg");
    background-repeat: no-repeat;
   background-size: 300vh 100vh ;
}
.container{
    /* background-image: url(back.jpg) ; */
    
    /* padding: 5px 10px; */
    /* border-radius: 10px; */
    /* z-index: -1; */
    
    width: 40%;
    margin-left: 400px;
    margin-top: 50px;
    
}
#output{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
 .imagee{


    margin: auto;

} 
#accept{
    outline: none;
    color: transparent;
}
.imgdiv{
    margin-left: 200px;
}
form.wrapper {
    background: #c5baba7a;
    
}
/* .wrapper {
    z-index: 222;
} */
/* .mywrap::before {content: '';display: block;height: 100%;width: 100%;background: red;position: absolute;top: 0;opacity: 0.2;left: 0;} */
.sign{
    margin-top: 0;
    margin-left: 250px;

}
#Submit{
    margin-left: 250px;
    cursor: pointer;
    
}
.details{
    justify-content: center;
    

    margin: 13px 45px;
    padding: 12px 11px;
    border: 2px solid red;
    border-radius: 10px;

    /* box-sizing: border-box; */

    width: 100px 100px;
}</style>

<body>

    <div class="container">
        <div class="mywrap">
            <form class="wrapper" action="/signup" method="POST" enctype="multipart/form-data">
                <div class="imgdiv"><img id="output" src="" alt=""> </div>
                <input type="file" name="image" class="imagee" id="accept" onchange="fileload(event)">
                
                <h1 class="sign">Sign Up</h1>
                <input type="text" name="fname" id="fname" class="details" placeholder="Enter First Name">
                <input type="text" name="sname" id="sname" class="details" placeholder="Enter Last Name">
                <br>
                <input type="email" name="email" id="email" class="details" placeholder="Enter Your Email">
                <input type="tel" name="phone" id="phone" class="details" placeholder="Enter Your Number">
                <br>
                <input type="text" name = "address" id="address" class="details" placeholder="Enter your Address">
                <input type="password"  name = "password" id="password" class="details" placeholder="Enter password">
                <br>
                <!-- <button type="submit" class="details" id="Submit">Register</button> -->
                <input type="submit"  class="details" id="Submit">
                <div class="video-container">
                    <div class="color-overlay"></div>
                    <!-- <video autoplay loop muted>
                         <source src="/px2.mp4.mp4" type="video/mp4">
                    </video> -->
                  </div>
            </form>
        </div>
    </div>

    <script src="userpage.js"></script>


</body>

</html>